.wrapper {
  display: flex;
  height: 100vh;
}

.side-bar {
  width: 300px;
  background-color: #253141;
}

.side-header {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.new-chat a{
  padding: 14px;
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid;
  border-color: lightblue;
  text-decoration: none;
}

.side-main {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}

.group-list {
  padding: 20px 0 40px 0;
}

.group-list a{
  color: white;
  text-decoration: none;
}
.chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat-header {
  height: 100px;
  background-color: #ffffff;
  border-bottom-color: #eeeeee;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.chat-header-left {
  font-size: 24px;
  padding-top: 36px;
  color: #333;
}

.chat-header-right {
  margin-top: 40px;
  
}

.chat-header-right a {
  color: darkred;
  text-decoration: none;
  padding: 20px;
  border: 1px solid;
  border-color: darkred;
}

.chat-messages {
  overflow: scroll;
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.message {
  padding: 10px 0;
  margin-bottom: 40px;
}

.message-top {
  display: flex;
}

.user-name {
  padding-right: 10px;
  font-size: 16px;
  color: #434A54;
}

.post-date {
  font-size: 12px;
  color: #999;
}

.message-bottom {
  margin-top: 10px;
  font-size: 14px;
  color: #434A54;
}
.chat-footer {
  height: 90px;
  background-color: #d2d2d2;
  padding: 20px 40px;
}

.new-message {
  display:flex;
  width: 100%;
  height: 50px;
} 

.input-box {
  width: 100%;
  background-color: white;
  margin-right: 15px;
  position: relative;
}

.text {
  height: 50px;
  width: 100%;
  padding-left: 10px;
  border: none;
}

.image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
  position: absolute;
  right:0
}

.hidden {
  display: none;
}

.submit-btn {
  padding: 0 20px;
  font-size: 16px;
  color: white;
  background-color: #38AEF0;
  border: none;
}